@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
    width: 1280px;
    margin: 0 auto;
}


/* HEADER */
.logo {
    margin-top: 60px;
    margin-bottom: 40px;
}
.logo a {
    font-family: "Roboto", sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}
.logo span {
    color: #4BCAFF;
}

/* HEADER NAV*/
.header-nav{ 
    background-color: #35444F;
}

.header-navigation {
    margin: 0 140px 0px 140px;
    display: flex;
    justify-content: center;
}

.navigation-item {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    border-left: 1px solid #fff;
    padding: 21px 32px;
}
.navigation-item:last-child {
    border-right: 1px solid #fff;
}

.navigation-item:hover {
    background-color: #222F3A;
}

/* MAIN */
.main-flex {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
/* ASIDE */
.aside {
    width: 344px;
    border: 1px solid #000;
}
.aside-navigation {
    display: flex;
    flex-direction: column;
}

.aside-item {
    color: #485863;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 45px;
}

.aside-item:hover {
    background: #DBDBDB;
    color: #000;
    padding-left: 70px;
}

/* main-section */
.main-section {
    width: 885px;
}

.image-container{
    display: flex;
    justify-content: center;
    padding: 74px 0;
    margin-bottom: 37px;
}
.image{
    width: 381x;
    height: 320px;
}
.image:hover{
    transform: scale(1.2)
}

.text{
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.text-1{
    margin-bottom: 13px;
}


/* FOOTER */
.footer-container {
    height: 70px;
    margin-top: 54px;
    margin-bottom: 30px;
    padding: 0 40px;
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-nav{
    width: 875px;
}
.footer-navigation {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    /* padding-right: 30px; */
}
.footer-item:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.copyright{
    color: #010101;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}


